body {
  margin: 0;
  border: 0;
  background: black;
  overflow-x: hidden;
}
.layout {
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  font-family: @font;
  position: relative;
  // padding: 0 16px;
}
a {
  text-decoration: none;
  color: white;
}
